.loginContainer {
    text-align: center;
    margin-top: 3%;
}


.registerForm-Btn {
    margin: 0 1em;
    margin-bottom: 1em;
}

.sign-up-h2 {
    text-align: center;
    color: aliceblue;
    margin-top: .7em;
}